*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;

    .btnAdote{
        background-color: #F97415;
        color: #fff;
        padding: 1rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}

.banenr{
    height: 80vh;
}

article{
        display: flex;
        height: 50vh;
        justify-content: space-evenly;

        .infoPet{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #nomeDoPet{
                color: #F97415;
                font-size: 3.75rem;
            }

            #descricao{
                font-size: 1.5;
            }
        }

    #fotoGrande{
        width: 40%;
    }
}

.galeria{
    display: flex;
    justify-content: space-evenly;
    
}

.pet{
    display: flex;
    list-style: none;
    padding-top: 2rem;
    align-items: center;
}

.imgPet{
    width: 50%;
    height: 20vh;
    border-radius: 50%;
    cursor: pointer;
}

//Section formulario
.sessaoFormulario{
    height: 90vh;
    background-color: #F59F0A;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formularioTitulo{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2{
        font-size: 3rem;
    }

    p{
        font-size: 2rem;
    }
}

.formulario{
    display: flex;
    flex-direction: column;
    border: solid;
    width: 60%;
    height: 50%;
    justify-content: space-between;

    label{
        font-size: 2rem;
        font-weight: 700;
    }
    input{
        height: 4vh;
        border-radius: 10px;
        width: 27.5vw;
    }

    .escolhaAnimal{
        display: flex;
        align-items: center;
        justify-content: space-around ;
        width: 15vw;
        border: solid;
        
            
            input{
                height: 20px;
                width: 20px;
            }
    }
}

.btnAdotar{
    background-color: #F97415;
    cursor: pointer;
    width: 24rem;
    height: 5rem;
    border-radius: 10px;
    align-items: center;
    border: solid;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
}