*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;

    .btnAdote{
        background-color: #F97415;
        color: #fff;
        padding: 1rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}

.banenr{
    height: 80vh;
}

article{
        display: flex;
        height: 50vh;
        justify-content: space-evenly;
        border: #F97415 solid;

        .infoPet{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #nomeDoPet{
                color: #F97415;
                font-size: 3.75rem;
            }

            #descricao{
                font-size: 1.5;
            }
        }

    #fotoGrande{
        width: 40%;
    }
}

.galeria{
    display: flex;
    justify-content: space-evenly;
}

.pet{
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .descricao, .none{
        display: none;
    }
}

.imgPet{
    width: 50%;
    height: 20vh;
    border: 100%;
}
